@import "tailwindcss";

@theme {
  --color-surface-container-low: #eff4ff;
  --color-on-secondary-fixed: #031d33;
  --color-on-surface-variant: #424750;
  --color-surface-container-lowest: #ffffff;
  --color-secondary-container: #cbe2ff;
  --color-on-secondary-container: #4e647d;
  --color-surface-container-high: #dce9ff;
  --color-on-tertiary-container: #3fd298;
  --color-on-primary-fixed: #001c3b;
  --color-on-error-container: #93000a;
  --color-surface-dim: #cbdbf5;
  --color-on-error: #ffffff;
  --color-inverse-on-surface: #eaf1ff;
  --color-background: #f8f9ff;
  --color-on-primary-container: #93bcfc;
  --color-on-primary-fixed-variant: #144780;
  --color-tertiary-fixed-dim: #4edea3;
  --color-tertiary-fixed: #6ffbbe;
  --color-error-container: #ffdad6;
  --color-on-tertiary-fixed-variant: #005236;
  --color-secondary-fixed-dim: #b2c9e5;
  --color-outline-variant: #c3c6d1;
  --color-inverse-surface: #213145;
  --color-primary-fixed: #d5e3ff;
  --color-tertiary: #003c27;
  --color-on-secondary: #ffffff;
  --color-primary: #003466;
  --color-on-background: #0b1c30;
  --color-error: #ba1a1a;
  --color-surface-container: #e5eeff;
  --color-tertiary-container: #005639;
  --color-secondary: #4a6079;
  --color-inverse-primary: #a6c8ff;
  --color-on-tertiary: #ffffff;
  --color-primary-container: #1a4b84;
  --color-surface-tint: #335f99;
  --color-surface-bright: #f8f9ff;
  --color-on-secondary-fixed-variant: #324860;
  --color-surface: #f8f9ff;
  --color-on-primary: #ffffff;
  --color-primary-fixed-dim: #a6c8ff;
  --color-on-tertiary-fixed: #002113;
  --color-secondary-fixed: #d0e4ff;
  --color-surface-container-highest: #d3e4fe;
  --color-outline: #737781;
  --color-surface-variant: #d3e4fe;
  --color-on-surface: #0b1c30;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
  
  --radius-DEFAULT: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}

@utility glass-panel {
  background-color: color-mix(in srgb, var(--color-surface-container-highest) 60%, transparent);
  backdrop-filter: blur(24px);
}

@utility sunken-shadow {
  box-shadow: 0 12px 40px rgba(11, 28, 48, 0.06);
}

@utility bg-gradient-primary {
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-container));
}

@layer base {
  body {
    @apply bg-background text-on-background font-body antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
